@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	font-family: "Poppins", sans-serif;
	background-color: #000000;
	scroll-behavior: smooth;
}
.body {
	background: linear-gradient(
		-180deg,
		#0b0b24,
		#0d0d1a,
		rgb(9, 9, 15),
		#000000
	);
	padding: 0 !important;
}

.card1 {
	background: rgb(57, 57, 57);
	background: linear-gradient(
		90deg,
		rgba(57, 57, 57, 0.9192051820728291) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.card2 {
	background: rgb(57, 57, 57);
	background: linear-gradient(
		90deg,
		rgba(16, 16, 31, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgba(0, 0, 0, 0.919) 100%
	);
}
.card3 {
	background: rgb(57, 57, 57);
	background: linear-gradient(
		90deg,
		rgba(57, 57, 57, 0.9192051820728291) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.card4 {
	background: rgb(57, 57, 57);
	background: linear-gradient(
		90deg,
		rgba(16, 16, 31, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgba(0, 0, 0, 0.919) 100%
	);
}

.mirror {
	transform: rotate(25deg);
}

.cd1 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgba(53, 53, 65, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.cd2 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgba(53, 53, 65, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.cd3 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgb(0, 0, 0) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgba(53, 53, 65, 1) 100%
	);
}
.cd4 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgba(53, 53, 65, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.cd5 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgba(53, 53, 65, 1) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgb(0, 0, 0) 100%
	);
}
.cd6 {
	background: rgb(53, 53, 65);
	background: linear-gradient(
		180deg,
		rgb(0, 0, 0) 0%,
		rgba(16, 16, 31, 1) 49%,
		rgba(53, 53, 65, 1) 100%
	);
}

@media screen and (max-width: 768px) {
	.whyuscards {
		flex-direction: column;
	}

	.gettheapp {
		flex-direction: column;
	}

	.card1 {
		flex-direction: column;
		/* padding-top: 5rem; */
	}
	.mirror-texts {
		margin-top: 20px;
	}
	.card2 {
		flex-direction: column;
	}
	.card3 {
		flex-direction: column;
	}
	.card4 {
		flex-direction: column;
	}
	.card5 {
		flex-direction: column;
	}
	.card6 {
		flex-direction: column;
	}

	.phone {
		height: 30rem;
	}

	.phone-text {
		font-size: 25px;
		max-width: 20rem;
	}

	.phone-button {
		height: 40px;
	}

	.phone-texts {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-text {
		flex-direction: column;
		position: absolute;
		top: 70px;
		gap: 50px;
		background-color: black;
		padding: 70px;
		padding-top: 90px;
		padding-left: 90px;
		padding-right: 100px;
		height: 100vh;
	}

	.footer {
		flex-direction: column;
	}
}
