@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	font-family: "Poppins", sans-serif;
	background-color: #000000;
	scroll-behavior: smooth;
}
.body {
	background: linear-gradient(
		-180deg,
		#0b0b24,
		#0d0d1a,
		rgb(9, 9, 15),
		#000000
	);
	padding: 0 !important;
}

.navbar {
	background-color: black;
	opacity: 0.9;
	backdrop-filter: blur(50px);
	margin-top: -62px;
}

.features-carousel {
	max-width: 80vw;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;

	/* For WebKit-based browsers (Chrome, Safari) */
}

.features-carousel::-webkit-scrollbar {
	width: 12px;
}

.features-carousel::-webkit-scrollbar-thumb {
	background-color: transparent;
}
/* .features-carousel:hover {
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
	}
} */

/* .features-carousel {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.cards {
	/* background: rgb(57, 57, 57); */
	background: linear-gradient(180deg, rgba(25, 14, 40) 0%, rgb(0, 0, 0) 100%);
	position: relative;
	padding: 15px 20px;
}

.cards::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 40px;
	border: 2px solid transparent;
	background: linear-gradient(360deg, black, rgb(51, 65, 85)) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.whycards {
	/* background: rgb(53, 53, 65); */
	background: linear-gradient(180deg, rgba(41, 38, 48) 0%, rgb(0, 0, 0) 100%);
}

.mirror {
	transform: rotate(25deg);
}

.accordion {
	font-size: small;
	border: none;
}

@media screen and (max-width: 990px) {
	.hero-picture {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.whyuscards {
		flex-direction: column;
	}

	.gettheapp {
		flex-direction: column;
	}

	.card1 {
		flex-direction: column;
		padding-top: 5rem;
		padding-bottom: 5rem;
		position: relative;
		/* padding-top: 5rem; */
	}
	.mirror-texts {
		margin-top: 20px;
	}
	.full-disclosure {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 0.5rem;
		position: absolute;
		left: 20px;
		right: 20px;
		top: 20px;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.phone {
		height: 30rem;
	}

	.phone-text {
		font-size: 25px;
		max-width: 20rem;
	}

	.phone-button {
		height: 40px;
	}

	.phone-texts {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-text {
		flex-direction: column;
		position: absolute;
		top: 70px;
		gap: 50px;
		background-color: black;
		padding: 70px;
		padding-top: 90px;
		padding-left: 90px;
		padding-right: 100px;
		height: 100vh;
	}

	.footer {
		flex-direction: column;
	}
}
